html{
  scroll-snap-type: y mandatory;
}

.App{
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos{
  height: 100vh;
  width: 80%;
  max-width: 800px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app__videos::-webkit-scrollbar{
  display: none;
}

.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 440px){
  .app__videos{
    width: 100%;
    height: 100vh;
  }
}